{% extends 'layouts/base.html' %} {% block title %} Dashboard {% endblock title
%} {% block content %}
<!-- [ Main Content ] start -->

<div class="pc-container">
  <div class="pc-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">{{test.test_name}}</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item" aria-current="page">
                Details and Progress for {{test.test_name}}
              </li>
            </ul>
            <button
              class="btn float-end my-0 py-0"
              onclick="refreshPage()"
              style="border: none"
            >
              <i class="ti ti-refresh my-0 py-0"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->

    <!-- [ Main Content ] start -->
    <div class="row">
      <!-- [ sample-page ] start -->
      {% for tool in tools %}
      <div class="col-sm-2 col-md-3 col-lg-2">
        <div class="card">
          <div class="card-body">
            {% if tool.config_name == "Burp Suite"%} {% if progress != None %}
            <span class="float-end text-muted"
              ><strong>
                {{progress['success']['scan_metrics']['crawl_and_audit_progress']}}%
              </strong></span
            >
            <h4>{{ tool.config_name }}</h4>
            <h4>
              <div class="badge bg-light-primary px-4">
                {{progress['success']['scan_status']}}
              </div>
            </h4>
            {% endif %} {% endif %} {% if tool.config_name == "Zap"%} {% if
            zap_progress != None %}
            <span class="float-end text-muted"
              ><strong> {{zap_progress['success'][0]}}% </strong></span
            >
            <h4>{{ tool.config_name }}</h4>
            <h4>
              <div class="badge bg-light-primary px-4">
                {% if zap_progress['success'][0] == "100" %} succeeded {% else
                %} In Progress {% endif %}
              </div>
            </h4>
            {% endif %} {% endif %} {% if tool.config_name == "Nuclei"%}
            <span class="float-end text-muted"
              ><strong> {{nuclei_progress['progress']}}% </strong></span
            >
            <h4>{{ tool.config_name }}</h4>
            <h4>
              <div class="badge bg-light-primary px-4">
                {{nuclei_progress['status']}}
              </div>
            </h4>

            {% endif %} {% if tool.config_name == "Nikto"%}
            <span class="float-end text-muted"
              ><strong> {{nikto_progress['progress']}}% </strong></span
            >
            <h4>{{ tool.config_name }}</h4>
            <h4>
              <div class="badge bg-light-primary px-4">
                {{nikto_progress['status']}}
              </div>
            </h4>

            {% endif %} {% if tool.config_name == "Secret Finder"%}
            <span class="float-end text-muted"
              ><strong>
                {{secretfinder_progress['progress'] | int}}%
              </strong></span
            >
            <h4>{{ tool.config_name }}</h4>
            <h4>
              <div class="badge bg-light-primary px-4">
                {{secretfinder_progress['status']}}
              </div>
            </h4>

            {% endif %}
            
            {% if tool.config_name == "CMSSeek"%}
            <span class="float-end text-muted"
              ><strong>
                {{cmseek_progress['progress'] | int}}%
              </strong></span
            >
            <h4>{{ tool.config_name }}</h4>
            <h4>
              <div class="badge bg-light-primary px-4">
                {{cmseek_progress['status']}}
              </div>
            </h4>

            {% endif %}


          </div>
        </div>

        <!-- [ Main Content ] end -->
      </div>
      {% endfor %} {% for tool in tools %}
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>{{tool.config_name}}</h4>
          </div>
          <div class="card-body" style="max-height: 60vh; overflow-y: auto">
            {% if tool.config_name == "Burp Suite"%} {% if progress != None %}
            <h5>
              Crawl Requests Made:
              {{progress['success']['scan_metrics']['crawl_requests_made']}}
            </h5>
            <h5>
              Crawl Network Errors:
              {{progress['success']['scan_metrics']['crawl_network_errors']}}
            </h5>
            <h5>
              Unique Locations Visited:
              {{progress['success']['scan_metrics']['crawl_unique_locations_visited']}}
            </h5>
            <h5>
              Crawl Requests Queued:
              {{progress['success']['scan_metrics']['crawl_requests_queued']}}
            </h5>
            <h5>
              Audit Queue Items Completed:
              {{progress['success']['scan_metrics']['audit_queue_items_completed']}}
            </h5>
            <h5>
              Audit Queue Items Waiting:
              {{progress['success']['scan_metrics']['audit_queue_items_waiting']}}
            </h5>
            <h5>
              Audit Requests Made:
              {{progress['success']['scan_metrics']['audit_requests_made']}}
            </h5>
            <h5>
              Audit Network Errors:
              {{progress['success']['scan_metrics']['audit_network_errors']}}
            </h5>
            <h5>
              Issue Events:
              {{progress['success']['scan_metrics']['issue_events']}}
            </h5>
            <h5>
              Crawl and Audit Status:
              {{progress['success']['scan_metrics']['crawl_and_audit_caption']}}
            </h5>
            <h5>
              Total Elapsed Time:
              {{progress['success']['scan_metrics']['total_elapsed_time']}}
            </h5>
            <h5>
              Audit Network Errors:
              {{progress['success']['scan_metrics']['audit_network_errors']}}
            </h5>
            <h5>
              Audit Network Errors:
              {{progress['success']['scan_metrics']['audit_network_errors']}}
            </h5>
            <hr />
            {% for issue in progress['success']['issue_events'] %}
            <h5>Name: {{issue['issue']['name']}}</h5>
            <h5>Origin: {{issue['issue']['origin']}}</h5>
            <h5>Path: {{issue['issue']['path']}}</h5>
            <h5>Severity: {{issue['issue']['severity']}}</h5>
            <h5>Confidence: {{issue['issue']['confidence']}}</h5>
            <h5>Description:</h5>
            {{issue['issue']['description'] | safe}}
            <h5>Origin: {{issue['issue']['origin']}}</h5>
            <h5>Origin: {{issue['issue']['origin']}}</h5>
            <h5>Origin: {{issue['issue']['origin']}}</h5>
            <hr />
            {% endfor %}{% endif %} {% endif %} {% if tool.config_name ==
            "Zap"%} {% if zap_progress != None %} {% for issue in
            zap_progress['success'][1] %}
            <h5>Method: {{issue['method']}}</h5>
            <h5>Confidence: {{issue['confidence']}}</h5>
            <h5>Description:</h5>
            {{issue['description']}}
            <h5>Input Vector: {{issue['inputVector']}}</h5>
            <h5>URL: {{issue['url']}}</h5>
            <h5>Solution: {{issue['solution']}}</h5>

            <hr />
            {% endfor %}{% endif %} {% endif %} {% if tool.config_name ==
            "Nuclei"%} {% if nuclei_progress['nuclei_data'] != None %} {% for
            issue in nuclei_progress['nuclei_data'] %}
            <h5>Vulnerability Name: {{issue['vulnerabilityName']}}</h5>
            <h5>Host: {{issue['host']}}</h5>
            <h5>Vulnerability Detail: {{issue['vulnerabilityDetail']}}</h5>
            <h5>Description: {{issue['description']}}</h5>
            <h5>Severity: {{issue['severity']}}</h5>

            <hr />
            {% endfor %} {% endif %} {% endif %} {% if tool.config_name ==
            "Nikto"%} {% if nikto_progress['nikto_data'] != None %}

            <h5>Host: {{nikto_progress['nikto_data'][0]['host']}}</h5>
            <h5>IP: {{nikto_progress['nikto_data'][0]['ip']}}</h5>
            <h5>Port: {{nikto_progress['nikto_data'][0]['port']}}</h5>
            <hr />
            {% for issue in nikto_progress['nikto_data'][0]['vulnerabilities']
            %}
            <h5>Method: {{issue['method']}}</h5>
            <h5>URL: {{issue['url']}}</h5>
            <h5>Message: {{issue['msg']}}</h5>

            <hr />
            {% endfor %} {% endif %} {% endif %} {% if tool.config_name ==
            "Secret Finder" %} {% if secretfinder_progress['secretfinder_data']
            != None %} {% for issue in
            secretfinder_progress['secretfinder_data']%} {% for item in issue[1]
            %}
            <h5>URL: {{issue[0]}}</h5>
            <h5>Matched: {{item['matched']}}</h5>
            <h5>Context: {{item['context']}}</h5>
            <h5>Name: {{item['name']}}</h5>
            <h5>Multi Context: {{item['multi_context']}}</h5>
            <hr />
            {% endfor %}
            <hr />
            {% endfor %} {% endif %} {% endif %}

            {% if tool.config_name ==
              "CMSSeek" %} {% if cmseek_progress['cmseek_data']
              != None %}
              <h5>CMS ID: {{ cmseek_progress['cmseek_data']['cms_id']}}</h5>
              <h5>CMS Name: {{ cmseek_progress['cmseek_data']['cms_name']}}</h5>
              <h5>CMS URL: {{ cmseek_progress['cmseek_data']['cms_url']}}</h5>
              <h5>Detection Parameter: {{ cmseek_progress['cmseek_data']['detection_param']}}</h5>
              <h5>Last Scanned: {{ cmseek_progress['cmseek_data']['last_scanned']}}</h5>
              <h5>URL: {{ cmseek_progress['cmseek_data']['url']}}</h5>
              <h5>WP Lincense: {{ cmseek_progress['cmseek_data']['wp_license']}}</h5>
              <h5>WP Readme: {{ cmseek_progress['cmseek_data']['wp_readme_file']}}</h5>
              <h5>WP Themes:</h5>
              <ul>
                {% for themes in  cmseek_progress['cmseek_data']['wp_themes'].split(',') %}
                <li> {{themes}} </li>
                {% endfor %}
              </ul>
              <h5>WP Plugins:</h5>
              <ul>
                {% for plugins in  cmseek_progress['cmseek_data']['wp_plugins'].split(',') %}
                <li> {{plugins}} </li>
                {% endfor %}
              </ul>
              
            
              <h5>WP Users: {{ cmseek_progress['cmseek_data']['wp_users']}}</h5>
              <h5>WP Version: {{ cmseek_progress['cmseek_data']['wp_version']}}</h5>
             
              {% endif %} {% endif %}
          </div>
        </div>

        <!-- [ Main Content ] end -->
      </div>
      {% endfor %}
    </div>
    <!-- [ Main Content ] end -->
    {% endblock content %}
  </div>
</div>

{% block extra_js %}
<script>
  function refreshPage() {
    // Display a confirmation dialog

    location.reload();
  }
</script>
{% endblock extra_js %}
